{% load static %}
<!--Footer -->
    <div class="col-md-12 footer-box">
        <div class="row">
            <div class="col-md-2">
                <a href="mailto:duongthien1809@gmail.com"><strong>feedbacksenden</strong></a>
            </div>

            <div class="col-md-4">
                <strong>Unsere Adresse</strong>
                <hr>
                <p>
                     Fraunhofer Straße 26,<br />
                    13051, Deutschland<br />
                    Email: info@dulo.com<br>
                </p>

                2020 www.Dulo.com | All Right Reserved
            </div>
            <div class="col-md-4 social-box">
                <strong>We are Social </strong>
                <hr>
                <a href="#"><i class="fa fa-facebook-square fa-3x "></i></a>
                <a href="#"><i class="fa fa-twitter-square fa-3x "></i></a>
                <a href="#"><i class="fa fa-google-plus-square fa-3x c"></i></a>
                <a href="#"><i class="fa fa-linkedin-square fa-3x "></i></a>
                <a href="#"><i class="fa fa-pinterest-square fa-3x "></i></a>
            </div>
        </div>
        <hr>
    </div>
    <!-- /.col -->
    <div class="col-md-12 end-box ">
        &copy; 2014 | &nbsp; All Rights Reserved | &nbsp; www.Dulo.com | &nbsp; 24x7 support | &nbsp; Unsere Email: info@sdulo.com
    </div>
    <!-- /.col -->
    <!--Footer end -->